// _utils
// colorbook
$dark: hsl(180, 0%, 15%);
$light-dark: hsl(180, 0%, 20%);
$light: hsl(180, 10%, 98%);
$light-neutro: hsl(180, 30%, 80%);

$primary: hsl(180, 100%, 40%);
$dark-primary: hsl(180, 80%, 20%);
$secondary: hsl(335, 100%, 60%);
$dark-secondary: hsl(335, 80%, 20%);

$main-spacing: 1rem;
$main-radius: .5rem;

@mixin width-control {
  box-sizing: border-box;
  width: 80rem;
  max-width: 100%;
  margin: 0 auto;
}

// animation 

@keyframes stretch {
	0% {
    transform: scale3d(1.1, 1, 1);
  }

  25% {
    transform: scale3d(.9, 1.1, 1);
  }


  50% {
    transform: scale3d(.8, 1.3, 1);
  }


  75% {
    transform: scale3d(.8, 1.1, 1);
  }

  100% {
    transform: scale3d(1.1, 1, 1);
  }
}

// _base 
// reset
body, h1, h2, h3, p {
  margin: 0;
}

button {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}


@import 'components';
@import 'sections';